<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Tracker App - Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="d-flex justify-content-center">
        <h1>Workout Tracker Application</h1>
    </div>
    <br>

    <div class="d-flex justify-content-center">
        <p> This app helps with organizing your workout notes</p>
    </div>
    <div class="d-flex justify-content-center">
        <p> Test logins: (Peter123,Armin123) both with password abcabcabc123</p>
    </div>
    <br>

    <div class="d-flex justify-content-center">
        <h2>Log in</h2>
    </div>
    <br>

    <div class="d-flex justify-content-center">
        <form th:action="@{/login}" method="post">

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input name="username" id="username" type="text"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input id="password" name="password" type="password"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Log in</button>
            </div>

            <div class="form-group">
                <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
            </div>

        </form>
    </div>
</div>
</body>
</html>